.ccc-navbar {
  border-bottom: 5px solid #DDDDDD;
  color: #BBB;
  font-weight: bold;
}

.ccc-no-margins {
  margin: 0;
  padding: 0;
}

.ccc-glyph {
  border: 2px solid black;
  height: 80px;
  line-height: 50px;
}

.ccc-active {
  border-bottom: 5px solid orange;
}

section {
  background: #EEE;
}

.ccc-followdrop {
  width: 500px;
  height: 400px;
}

.ccc-written-by {
  color: #5533CC;
  font-size: 120%;
  margin: 10px 0;
  line-height: 1.2em;
}

.ccc-author {
  color: orange;
  font: bold;
  font-weight: bolder;
  font-size: 100%;
  line-height: 1.2em;
}

.news-headings {
  color: black;
  font-size: 160%;
  font-family: Arial;
  line-height: 1.2em;
}

.top-news {
  color:black;
  text-decoration: none;
  font-family: Arial;
  line-height: 1.2em;
}

.top-news:hover, .news-headings:hover{
  color: orange;
  text-decoration: none;
}

.ccc-main {
  width: auto;
  margin: 30px 5px;
}

.ccc-main2 {
  border: 5px solid #DDDDDD;
  background: white;
  margin: 20px 0;
  padding: 20px 5px;
}

.ccc-article-color {
  margin: 10px 0 20px 0;
}

.ccc-sidenav {
  border-right: 5px solid #DDDDDD;
  width: 400px;
  margin: 0;
  padding:0;
  background: white;
}

.ccc-allchannels-button {
  background: red;
  color: white;
  font-weight: bold;
  font-family: Arial;
  margin: 20px 10px 10px 10px;
  text-align: left;
}

.ccc-caret {
  float: right;
  margin: 10px 0;
}
.ccc-twobuttons {
  margin: 10px 0 10px 0;
  padding: 0;
  line-height: 40px;
  font-weight: bold;
  background-color: #EFEFEF;
}

.ccc-sidenav-border {
  margin: 150px 0 0 0;
  border-bottom: 5px solid #DDDDDD;
}

.ccc-sidenav-article {
  border-bottom: 3px solid #DDDDDD;
  height: 100px;
}

.ccc-sidenav-article-pic {
  float:left;
  max-width: 100%;
  max-height: 100%;
  padding: 10px 20px;
}

.ccc-sidenav-article-title {
  font-weight: bold;
  font-size: 17px;
  padding: 10px 5px;
}

@media(max-width:760px){
  .ccc-sidearticle{
    line-height: 1.2em;
    margin: 0 0 10px 0;
  }
  .news-headings{
    font-size: 32px;
  }
  .top-news{
    font-size: 32px;
  }
}

@media(min-width:760px){
  .ccc-sidearticle{
    line-height: 1em;
    margin: 0 0 10px 0;
  }
  .news-headings{
    font-size: 22px;
  }
  .top-news{
    font-size: 32px;
  }
  .ccc-article-color{
    font-size: 18px;
  }
}

@media(min-width:1200px){
  .ccc-sidearticle{
    line-height: 1em;
    margin: 0 0 10px 0;
  }
  .news-headings{
    font-size: 25px;
  }
  .top-news{
    font-size: 32px;
  }
  .ccc-article-color{
    font-size: 20px;
  }
  .ccc-main{
    margin: 50px 50px 50px 450px;
  }
}
